<dl class="dl-horizontal">
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Confidence", value: confidence }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Handling Caveat", value: handling_caveat }
    } --><!-- /ko -->
    <!-- ko template: { name: "common-fields-TLP" } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Status", value: status }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Reporter", value: reporter }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Responders", value: responders }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Intended Effects", value: intendedEffects }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Discovery Methods", value: discoveryMethods }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Impact Assessment", value: impactAssessment }
    } --><!-- /ko -->
</dl>
