<dl class="dl-horizontal">
    <!-- ko template: {
        name: "labelled-field", data: { label: "Confidence", value: confidence }
    } --><!-- /ko -->
    <!-- ko template: { name: "common-fields-TLP" } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Producer", value: producer }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Type", value: indicatorTypes }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "labelled-field", data: { label: "Kill Chain Phase", value: killChainPhase }
    } --><!-- /ko -->
    <!-- ko template: {
    name: "labelled-field", data: { label: "Yara Rules", value: yaraRules }
    }--><!-- /ko -->
    <!-- ko template: {
    name: "labelled-field", data: { label: "Snort Rules", value: snortRules }
    }--><!-- /ko -->
</dl>
