<dl class="dl-horizontal">
    <!-- ko template: { name: "common-fields-TLP" } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Target", value: target }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Attack Patterns", value: attackPatterns }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Malware Instances", value: malwareInstances }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Intended Effects", value: intendedEffects }
    } --><!-- /ko -->
</dl>
