<dt data-bind="text: label, attr: { title: value().message }, css: {
    'bg-danger text-danger': value().hasError,
    'bg-warning text-warning': value().hasWarning,
    'text-info': value().hasInfo
    }"></dt>
<dd data-bind="attr: { title: value().message }, css: {
    'bg-danger text-danger': value().hasError,
    'bg-warning text-warning': value().hasWarning,
    'text-info': value().hasInfo,
    'value-missing': value().isEmpty
    }">
    <table class="table table-condensed table-striped" data-bind="css: { 'cols-3': columns.length === 3 }">
        <thead>
        <tr data-bind="foreach: columns">
            <th data-bind="text: heading"></th>
        </tr>
        </thead>
        <tbody data-bind="foreach: { data: value().value, as: '$row'} ">
        <tr data-bind="attr: { title: $data[$parent.row.tooltip] }, click: $root.onRowClicked.bind($root), foreach: $parent.columns">
            <!-- ko template: { name: templateName, data: { value: $row[propertyName] } } --><!-- /ko -->
        </tr>
        </tbody>
    </table>
</dd>
