<!-- ko template {
    name: "labelled-list-field",
    data: {
        label: label,
        value: value,
        row: {
            tooltip: "id"
        },
        columns: [
            { heading: "Title", propertyName: "title", templateName: "mandatory-grid-field" },
            { heading: "Namespace", propertyName: "namespace", templateName: "mandatory-grid-field" },
            { heading: "Type", propertyName: "type", templateName: "mandatory-grid-field" },
            { heading: "Properties", propertyName: "properties", templateName: "grid-properties-field" }
        ]
    }
} --><!-- /ko -->
