<!-- ko template {
    name: "labelled-list-field",
    data: {
        label: label,
        value: value,
        row: {
            tooltip: "id"
        },
        columns: [
            { heading: "Title", propertyName: "title", templateName: "mandatory-grid-field" },
            { heading: "Namespace", propertyName: "namespace", templateName: "mandatory-grid-field" },
            { heading: "TLP", propertyName: "tlp", templateName: "mandatory-grid-field" },
            { heading: "Types", propertyName: "indicatorTypes", templateName: "mandatory-grid-field" }
        ]
    }
} --><!-- /ko -->
