<!-- ko if: value -->
<dt data-bind="text: label"></dt>
<dd>
    <table class="table table-condensed table-striped cols-2">
        <thead>
        <tr>
            <th>Type</th>
            <th>Properties</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: value">
        <tr data-bind="attr: { title: id }">
            <td data-bind="text: type"></td>
            <td>
                <em data-bind="if: properties().length === 0">None</em>
                <!-- ko if: properties().length > 0 -->
                <dl class="dl-horizontal" data-bind="foreach: properties">
                    <dt data-bind="text: label"></dt>
                    <dd data-bind="text: value"></dd>
                </dl>
                <!-- /ko -->
            </td>
        </tr>
        </tbody>
    </table>
</dd>
<!-- /ko -->
