<dl class="dl-horizontal">
    <!-- ko template: { name: "flat-act" } --><!-- /ko -->
    <!-- ko template: {
        name: "list-ttp", data: { label: "Observed TTPs", value: observedTTPs, template: "labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-act", data: { label: "Associated Actors", value: associatedActors, template: "labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-cam", data: { label: "Associated Campaigns", value: associatedCampaigns, template: "labelled-list-field" }
    } --><!-- /ko -->
</dl>
