<dl class="dl-horizontal">
    <!-- ko template: { name: "common-fields-TLP" } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Stage", value: stage }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Type", value: type }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Objective", value: objective }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Impact", value: impact }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Efficacy", value: efficacy }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Cost", value: cost }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-coa", data: { label: "Related Actions", value: relatedCOAs, template: "optional-labelled-list-field" }
    } --><!-- /ko -->
</dl>
