<dl class="dl-horizontal">
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Confidence", value: confidence }
    } --><!-- /ko -->
    <!-- ko template: { name: "common-fields-TLP" } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Status", value: status }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Reporter", value: reporter }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Responders", value: responders }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Intended Effects", value: intendedEffects }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Discovery Methods", value: discoveryMethods }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Impact Assessment", value: impactAssessment }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-ttp", data: { label: "Leveraged TTPs", value: leveragedTTPs, template: "labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-inc", data: { label: "Related Incidents", value: relatedIncidents, template: "optional-labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-ind", data: { label: "Related Indicators", value: relatedIndicators, template: "optional-labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-obs", data: { label: "Related Observables", value: relatedObservables, template: "optional-labelled-list-field" }
    } --><!-- /ko -->
</dl>
