<dl class="dl-horizontal">
    <!-- ko template: {
        name: "labelled-field", data: { label: "Confidence", value: confidence }
    } --><!-- /ko -->
    <!-- ko template: { name: "common-fields-TLP" } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Producer", value: producer }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Type", value: indicatorTypes }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "labelled-field", data: { label: "Kill Chain Phase", value: killChainPhase }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Composition", value: compositeIndicatorComposition }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-ind", data: { label: "Indicators", value: compositeIndicators, template: "optional-labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Composition", value: composition }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-obs", data: { label: "Observables", value: observables, template: "labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-ind", data: { label: "Related Indicators", value: relatedIndicators, template: "optional-labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-ttp", data: { label: "Indicated TTPs", value: indicatedTTPs, template: "labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-coa", data: { label: "Suggested COAs", value: suggestedCOAs, template: "labelled-list-field" }
    } --><!-- /ko -->
</dl>
