<dl class="dl-horizontal">
    <!-- ko template: { name: "common-fields" } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Producer", value: producer }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Confidence", value: confidence }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Type", value: indicatorTypes }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Composition", value: compositeIndicatorComposition }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "related-indicators", data: { label: "Indicators", value: compositeIndicators }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "optional-labelled-field", data: { label: "Composition", value: composition }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "observables", data: { label: "Observables", value: observables }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "related-indicators", data: { label: "Related Indicators", value: relatedIndicators }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "leveraged-TTPs", data: { label: "Indicated TTPs", value: indicatedTTPs }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "suggested-coas", data: { label: "Suggested COAs", value: suggestedCOAs }
    } --><!-- /ko -->
</dl>
