<dl class="dl-horizontal">
    <!-- ko template: {name: "flat-pkg"} --><!-- /ko -->
    <!-- ko template: {
        name: "list-ind", data: { label: "Indicators", value: indicators, template: "optional-labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-obs", data: { label: "Observables", value: observables, template: "labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-ind", data: { label: "Indicators", value: indicators, template: "optional-labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-ttp", data: { label: "TTPs", value: ttps, template: "labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-coa", data: { label: "COAs", value: COAs, template: "labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-cam", data: { label: "Campaigns", value: campaigns, template: "labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-act", data: { label: "Threat Actors", value: threatActors, template: "labelled-list-field" }
    } --><!-- /ko -->
    <!-- ko template: {
        name: "list-tgt", data: { label: "Exploit Targets", value: exploitTargets, template: "labelled-list-field" }
    } --><!-- /ko -->
</dl>
