<div class="before form-group" style="flex: 0 0 auto;">
    <label for="filter-search" class="control-label sr-only">Search</label>
    <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
        <input type="text" class="form-control" id="filter-search" data-bind="value: filterText"
               placeholder="Query details">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-bind="click: clearSearch">Clear</button>
                <button type="submit" class="btn btn-primary" data-bind="click: loadLog">Filter</button>
            </span>
    </div>
    <span class="pull-right">
        Quick help:
        <code>after:<em>date</em></code>,
        <code>before:<em>date</em></code>,
        <code>status:<em>new</em></code>,
        <code>source:<em>source name</em>[<em>,source name</em>]</code> and
        <code>tags:<em>tag</em>[<em>,tag</em>]</code>
    </span>
</div>
<div class="main table-responsive" style="flex: 1 1 auto;overflow-y:auto;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>New?</th>
                <th>Message</th>
                <th>Source</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
        <!-- ko foreach: { data:alerts, as:'row' } -->
        <tr>
            <!-- ko foreach: row -->
            <td data-bind="text:$data"></td>
            <!-- /ko -->
        </tr>
        <!-- /ko -->
        </tbody>
    </table>
</div>
