<div class="before form-group" style="flex: 0 0 auto;">
    <label for="filter-search" class="control-label sr-only">Search</label>
    <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
        <input type="text" class="form-control" id="filter-search" data-bind="value: filterText"
               placeholder="Filter details">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-bind="click: clearSearch">Clear</button>
                <button type="submit" class="btn btn-primary" data-bind="click: loadLog">Filter</button>
            </span>
    </div>
    <span class="pull-right">
        Quick help:
        <code>status:<em>new</em></code>,
        <code>source:<em>source name</em>[<em>,source name</em>]</code> and
        <code>tags:<em>tag</em>[<em>,tag</em>]</code>
    </span>
</div>
<div class="main table-responsive" style="flex: 1 1 auto;overflow-y:auto;">
    <table class="table table-striped" id="alert-table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>New?</th>
                <th>Message</th>
                <th>Source</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
        <!-- ko foreach: { data:alerts, as:'row' } -->
        <tr>
            <td data-bind="text:ts"></td>
            <td data-bind="if: status === 'new'">
                <span class="glyphicon glyphicon-star-empty"></span>
            </td>
            <td data-bind="text:msg"></td>
            <td>
                <a href="" data-bind="
                    attr: { href: '?tab=Alerts&filter=source:' + source },
                    click: function (data, event) {
                        $parent.filterText('source:' + source);
                        event.preventDefault();
                    },
                    text: source
                "></a>
            </td>
            <td>
                <!-- ko foreach: tags -->
                <a href="" class="label" data-bind="
                    attr: {
                        href: '?tab=Alerts&filter=tags:' + $data,
                        style: 'background-color:' + $parents[1].tag($data).colour
                    },
                    click: function (data, event) {
                        $parents[1].filterText('tags:' + $data);
                        event.preventDefault();
                    },
                    text:$parents[1].tag($data).label
                "></a>
                <!-- /ko -->
            </td>
        </tr>
        <!-- /ko -->
        </tbody>
    </table>
</div>
