<div class="before" style="flex: 0 0 auto;">
    <p class="text-info">
        <button type="button" class="pull-right btn btn-default" data-toggle="modal" data-target="#add_widget_modal">Add Widget</button>
        You have <a class="pss" href="#" data-bind="click: $root.showNewAlerts.bind($root)">3 new alerts</a>
    </p>
</div>
<div class="main flexbox hflex gridster" style="flex: 1 1 auto;overflow:auto;">
    <ul id="dashboard_main_grid">
    <!-- ko foreach: panels -->
        <li class="panel panel-default" style="overflow:hidden;" data-bind="
            attr: {
                'data-col': $data.x,
                'data-row': $data.y,
                'data-sizex': $data.w,
                'data-sizey': $data.h
            }
        ">
            <div class="panel-heading" data-bind="text:label"></div>
            <div class="panel-body" style="height:90%; width:100%" >
                <iframe style="height:100%; width:100%" src="" data-bind="attr: { src: content() }"></iframe>
                <!--<img src="" style="width:100%;height:auto;"
                     data-bind="attr: { src: '/adapter/certuk_mod/static/js/dashboard/proto/' + content() }"> -->
            </div>
        </li>
    <!-- /ko -->
    </ul>
</div>
