
#visualiser {
    overflow: hidden;
    position: fixed;
    top: 80px;
    right: 17px;
    bottom: 32px;
    left: 17px;
}

#visualiser > .flex-main {
    flex: 1 1 auto;
}

#visualiser > .flex-after {
    flex: 0 0 32em;
}

#visualiser-detail > .flex-before {
    flex: 0 0 auto;
}

#visualiser-detail > .flex-main {
    flex: 1 1 auto;
    overflow-y: auto;
}

#extract-visualiser {
    overflow: hidden;
    position: fixed;
    top: 170px;
    right: 40px;
    bottom: 32px;
    left: 40px;
}


#extract-visualiser > .flex-before {
    flex: 0 0 auto;
}

#extract-visualiser > .flex-main {
    flex: 1 1 auto;
}

svg {
    border: 1px solid grey;
    height: 100%;
    margin: 0 2px 2px 0;
    width: 100%;
}

g.ko-d3-graph-node {
    cursor: pointer;
}

g.ko-d3-graph-node image.selected {
    filter: drop-shadow(0 0 8px black) contrast(150%);
}

g.ko-d3-graph-node image.related {
    filter: grayscale(33%);
}

g.ko-d3-graph-node image.unselected {
    filter: grayscale(100%) brightness(150%);
}

.clear_bg {
    -webkit-appearance: none!important;
    outline: none!important;
    border: 0!important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

line.ko-d3-graph-link.edge {
    stroke: #999;
    stroke-width: 1;
}

line.ko-d3-graph-link.match {
    stroke: #2d5b99;
    stroke-width: 3;
}

line.ko-d3-graph-link.backlink {
    stroke: #229924;
    stroke-width: 3;
}

line.ko-d3-graph-link.edge.related {
    stroke: #999;
    stroke-width: 2;
}

line.ko-d3-graph-link.match.related {
    stroke: #2d5b99;
    stroke-width: 4;
}

line.ko-d3-graph-link.backlink.related {
    stroke: #229924;
    stroke-width: 4;
}

dl.dl-horizontal dd {
    margin-left: 160px;
    padding-left: 20px;
    padding-right: 1px;
    margin-right: 20px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

dl.linkedNodes dd {
    cursor: pointer;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

dl.linkedNodes dd:hover span {
    text-decoration: underline;
}

.value-missing:after {
    content: "(missing)";
    font-style: italic;
}
