{% extends "base.html" %}
{% load site_tags %}
{% load staticfiles %}
{% block head-title %}{{ main_title }}{% endblock %}
{% block head-content %}

    <style type="text/css">
        .content-header {
            background: white;
            position: fixed;
            left: 0;
            right: 12px;
        }
        .content-body {
            margin-top: 116px;
        }
        .form-group .help-block {
            text-align: right;
        }
        .table.fixed {
            table-layout: fixed;
        }
        .table.fixed.header {
            margin-bottom: 0;
        }
        .table.fixed th, .table.fixed td {
            width: auto;
        }
        .table.fixed th:first-child, .table.fixed td:first-child {
            width: 12em;
        }
        .table pre {
            margin-bottom: 0;
        }
        /* Absolute Center Spinner */
        .loading {
            position: fixed;
            z-index: 999;
            height: 2em;
            width: 2em;
            overflow: visible;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        /* Transparent Overlay */
        .loading:before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }

        /* :not(:required) hides these rules from IE9 and below */
        .loading:not(:required) {
            /* hide "loading..." text */
            font: 0/0 a;
            color: transparent;
            text-shadow: none;
            background-color: transparent;
            border: 0;
        }
        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

        /* Animation */
        @-webkit-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @-moz-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @-o-keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes spinner {
            0% {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>

{% endblock %}

{% block body-content %}
    <div id="_loading_" class="loading">Loading&#8230;</div>
    <div class="content-header">
        <div class="container">
            <div class="row">
                <form class="col-sm-12 form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="filter-search" class="control-label sr-only">Search</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                            <input type="text" class="form-control" id="filter-search" data-bind="value: search"
                                   placeholder="Search for text in the message (case-insensitive regex)">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-bind="click: clearSearch">Clear</button>
                                <button type="submit" class="btn btn-primary" data-bind="click: loadLog">Search</button>
                            </span>
                        </div>
                        <span class="help-block">
                            Instead of a simple regex, you can also use
                            <code>cat:<em>category</em></code>,
                            <code>regex:<em>message regex</em></code>,
                            <code>state:<em>state</em></code> and
                            <code>user:<em>user id</em></code>
                        </span>
                    </div>
                </form>
            </div>
            <div class="row" style="display:none;" data-bind="if: logError, visible: true">
                <div class="jumbotron">
                    <h2>The server returned an error:</h2>
                    <p data-bind="text: logError"></p>
                    <button type="submit" class="btn btn-primary" data-bind="click: loadLog">Retry</button>
                </div>
            </div>
            <div class="row" style="display:none;" data-bind="if: logContent, visible: true">
                <div class="jumbotron" data-bind="visible: logContent().length < 1">
                    <h2>No matches found</h2>
                </div>
                <table class="table table-condensed table-hover fixed header" data-bind="visible: logContent().length > 0">
                    <thead>
                    <tr>
                        <th>Metadata</th>
                        <th>Message</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="container">
            <div class="row" style="display:none;" data-bind="if: logContent, visible: true">
                <table class="table table-condensed table-hover fixed" data-bind="visible: logContent().length > 0">
                    <tbody data-bind="foreach: logContent">
                    <tr data-bind="css: {
                        danger: state === 'FATAL' || state === 'ERROR',
                        warning: state === 'WARN'
                    }">
                        <td>
                            <div data-bind="text: timestamp"></div>
                            <div>User: <span data-bind="text: user"></span></div>
                            <div>Category: <span data-bind="text: category"></span></div>
                            <div>State: <span data-bind="text: state"></span></div>
                        </td>
                        <td>
                            <pre data-bind="text: message" style="min-height:6em;"></pre>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block body-end %}
    <script src="{% static 'js/knockout-3.1.0.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/stickytape.js' %}"></script>
    <script>
        var require = {
            baseUrl: "/adapter/certuk_mod{% static 'js' %}",
            paths: {
                knockout: "common/knockout-shim"
            },
            urlArgs: "{% spaceless %}{% include 'version.html' %}{% endspaceless %}"
        };
    </script>
    <script src="/adapter/certuk_mod{% static 'js/require.js' %}" data-main="activity-log/main"></script>
{% endblock %}
