<template id="Matching">
    <div class="col-sm-12">
        <h3>
            <a data-toggle="collapse" data-target="#collapseMatching"><span
                    class="glyphicon glyphicon-chevron-right transform-medium icon-sm"></span> Matching Content</a>
        </h3>
        <div id="collapseMatching" class="panel-collapse collapse in">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>Id</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: duplicates">
                <tr>
                    <td data-bind="attr:{href:'/object/'+$data}, text: $data"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
