{% extends "base.html" %}
{% load site_tags %}
{% load staticfiles %}
{% block head-title %}{{ main_title }}{% endblock %}
{% block head-content %}
    <link rel="stylesheet" href="/adapter/certuk_mod{% static "css/timeline.css" %}" media="screen">
    <link rel="stylesheet" href="/adapter/certuk_mod{% static "css/catalog.css" %}" media="screen">
{% endblock %}

{% block body-content %}
    <div class="container">
        {% include 'catalog_activity_log.html' %}
        {% include 'catalog_revisions.html' %}
        {% include 'catalog-matching-content.html' %}
        {% include 'catalog-referenced-by.html' %}
        {% include 'catalog-edges.html' %}
        <div class="row" data-bind="template: 'header'"></div>
        <div class="row" data-bind="template: 'warning'"></div>
        <div class="row" data-bind="template: { name: 'root-' + type().code, data: root }"></div>
        <div class="col-sm-12" data-bind="if: type().code == 'inc'">
            <h3>
                <a data-toggle="collapse" data-target="#collapseTimeline">Timeline</a>
            </h3>
            <div id="collapseTimeline" class="panel-collapse collapse in">
                <div id="incidentTimelineSVG" class="chart float-right"></div>
            </div>
        </div>
        <div data-bind="template: { name: 'Edges', data: section().findByLabel('Edges')}"></div>
        <div data-bind="template: { name: 'Matching', data: section().findByLabel('Matching')}"></div>
        <div data-bind="template: { name: 'References', data: section().findByLabel('References')}"></div>
        <div data-bind="template: { name: 'Activity', data: section().findByLabel('Activity')}"></div>

    </div>
{% endblock %}

{% block body-end %}
    <script type="text/html" id="header">
        <div class="col-sm-12">
            <h3 class="obj-title">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-danger pull-right"
                            data-bind="click: onPublish2">Publish<br>Externally
                    </button>
                    <a type="button" class="btn btn-info pull-right"
                       data-bind="attr: { href: viewURL}">View in<br>Builder
                    </a>
                    <a type="button" class="btn btn-success pull-right"
                       data-bind="attr: { href: editURL}">Edit in<br>Builder
                    </a>
                </div>
                <img alt="" src="" data-bind="attr: {
                    src: '{% static "img/hex" %}/hex_'+type().code+'.png'
                }">
                <span data-bind="text: type().label"></span><br>
                <small data-bind="text: root().id"></small>
            </h3>
            <div data-bind="template: { name: 'Revisions', data: section().findByLabel('Revisions')}"></div>
        </div>
    </script>

    {% include 'publisher-warning.html' %}

    <script src="{% static 'js/knockout-3.1.0.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/stickytape.js' %}"></script>
    <script>
        var require = {
            baseUrl: "/adapter/certuk_mod{% static 'js' %}",
            paths: {
                d3: "{% static "js/d3.min" %}",
                knockout: "common/knockout-shim",
                "config-service": "/adapter/certuk_mod/config/get_cert_config"
            },
            urlArgs: "{% spaceless %}{% include 'version.html' %}{% endspaceless %}"
        };
        var rootId = "{{ root_id }}";
        var stixPackage = Object.freeze({{ package.to_json|safe }});
        var validationInfo = Object.freeze({{ validation_info.to_json|safe }});
        var killChainPhases = Object.freeze({{ kill_chain_phases|safe }});
        var ajax_uri = '{{ ajax_uri }}';
        var viewURL = "{{ view_url }}";
        var editURL = "{{ edit_url }}";
        var revisions = Object.freeze({{ revisions|safe }});
        var backEdges = Object.freeze({{ back_edges|safe }});
        var edges = Object.freeze({{ edges|safe }});

    </script>

    <script src="/adapter/certuk_mod{% static 'js/require.js' %}" data-main="catalog/cert-catalog-build-ready"></script>

{% endblock %}
