{% extends "base.html" %} {% load site_tags %} {% load staticfiles %}
{%block head-title %}{{ main_title }}{% endblock %} {% block head-content %}

<style type="text/css">
</style>

{% endblock %} {% block body-content %}
{% include 'cert-identity.html' %}
{% include 'candidate_modal.html' %}
{% include 'related_items_orig.html' %}
{% include 'list_selects.html' %}
{% include 'list_idents.html' %}
{% include 'cert-inc-build-general.html' %}
{% include 'draft_list.html' %}

<div class="obj-title" data-bind="templateWithContext: { name: 'builder-hdr', data: $root, context: { imgsrc: '{% static 'img/hex/hex_inc.png' %}', typeName: 'Incident' }  }"></div>

<div class="container">
    {% include 'partials/identity.html' %}


    <div class="row builder">
    <div class="col-sm-3">

            <div class="list-group sidetabs" data-bind="foreach: section().options">
                <a href="#" class="list-group-item"
                   data-bind="
                        css: { active:$parent.section().value().label()==$data.label() },
                        click: $parent.section().select.bind($parent.section()),
                        attr : { id: $data.label }">
                    <span data-bind="text: $data.label"></span>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    <span class="badge" data-bind="text: count, effectOnChange: count, effectName: 'slide'"></span>
                </a>
            </div>

        </div>
        <div class="col-sm-9">

            <div class="alert alert-warning" data-bind="visible: isIncomplete()" >
                <h4 data-bind="visible: messages().hasErrors()">The Incident is incomplete:
                    <ul data-bind="foreach: messages().errors">
                        <li data-bind="text: $data"></li>
                    </ul>
                </h4>
                <h4 data-bind="visible: messages().hasWarnings()">Additional warnings:
                    <ul data-bind="foreach: messages().warnings">
                        <li data-bind="text: $data"></li>
                    </ul>
                </h4>
            </div>


            <div data-bind="template: { name: 'GeneralPanel', data: section().findByLabel('General') }"></div>
            <div data-bind="template: { name: 'listSelectsPanel', data: section().findByLabel('Trust Groups') }"></div>
            <div data-bind="template: { name: 'relatedItemsPanel', data: section().findByLabel('Related Indicators') }"></div>
            <div data-bind="template: { name: 'relatedItemsPanel', data: section().findByLabel('Related Incidents') }"></div>
            <div data-bind="template: { name: 'relatedItemsPanel', data: section().findByLabel('Related Observables') }"></div>
            <div data-bind="template: { name: 'relatedItemsPanel', data: section().findByLabel('Leveraged TTPs') }"></div>
            <div data-bind="template: { name: 'relatedItemsPanel', data: section().findByLabel('Attributed Actors') }"></div>
            <div data-bind="template: { name: 'listSelectsPanel', data: section().findByLabel('Effects') }"></div>
            <div data-bind="template: { name: 'listIdentsPanel', data: section().findByLabel('Victims') }"></div>
            <div data-bind="template: { name: 'listIdentsPanel', data: section().findByLabel('Responders') }"></div>
            <div data-bind="template: { name: 'listSelectsPanel', data: section().findByLabel('Discovery Methods') }"></div>
            <div data-bind="template: { name: 'listSelectsPanel', data: section().findByLabel('Intended Effects') }"></div>
        </div>
    </div>
</div><!-- container -->

{% endblock %}
{% block body-end %}

<script type="text/javascript" src="{% static 'js/knockout-3.1.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/stickytape.js' %}"></script>
<script type="text/javascript" src="{% static 'js/shared/validation.js' %}"></script>
<script type="text/javascript" src="{% static 'js/shared/identity.js' %}"></script>

{% include 'partials/builder_toolbar.html' %}

<script type="text/javascript">
    var incident_builder = incident_builder || {};
    incident_builder.ajax_uri = '{{ ajax_uri }}';

    incident_builder.id    = '{{ id }}';
    incident_builder.id_ns = '{{ id_ns }}';
    incident_builder.mode  = '{{ mode }}';

    incident_builder.tlps_list          = {{ tlps|safe }};
    incident_builder.trustgroups_list   = {{ trustgroups|safe }};
    incident_builder.confidence_list    = {{ confidences|safe }};

    incident_builder.default_tlp        = '{{ default_tlp|safe }}';
    incident_builder.effects_list = {{ effects|safe }};
    incident_builder.statuses_list = {{ statuses|safe }};
    incident_builder.electronic_address_types = {{ electronic_address_types|safe }};

    incident_builder.discovery_methods_list = {{ discovery_methods|safe }};
    incident_builder.intended_effects_list = {{ intended_effects|safe }};
</script>


<script type="text/javascript" src="{% static 'js/shared/related_objects.js' %}"></script>
<script type="text/javascript" src="{% static 'js/shared/ko_templates_context.js' %}"></script>

    <script>
    var require = {
        baseUrl: "/adapter/certuk_mod{% static 'js' %}",
        paths: {
            knockout: "common/knockout-shim"
        },
        urlArgs: "{% spaceless %}{% include 'version.html' %}{% endspaceless %}"
    };
</script>
<script src="/adapter/certuk_mod{% static 'js/require.js'%}" data-main="inc-build/cert-inc-build-ready"></script>
{% endblock %}
