{% extends "ind-build.html" %}
{% load staticfiles %}

{% block constants %}
    <script>
        var require = {
            baseUrl: "../static/js",
            paths: {
                knockout: "cert-ind-build/knockout-shim"
            },
            urlArgs: "{% spaceless %}{% include 'cert-ind-build-version.html' %}{% endspaceless %}"
        };
    </script>
    <script src="../static/js/require.js"></script>
{% endblock %}

{% block custom-observables %}
    <script src="../static/js/cert-ind-build/custom-observables.js"></script>
{% endblock %}

{% block custom-builder-sections %}
    <script src="../static/js/cert-ind-build/custom-builder-sections.js"></script>
{% endblock %}
