<template type="text/html" id="TimePanel">


    <div data-bind="if: $data == $parent.section().value()">
        <div class="panel-heading">Time Types</div>

        <div class="panel-body">
            <div class="row">
                <div class="col-lg-9">
                    <table  cellpadding="10">
                        <tbody data-bind="foreach: time_types">
                        <tr>
                            <td nowrap data-bind="text: $data.display_name()"></td>
                            <td valign="bottom" >
                                <div class="form-group">
                                    <div class="col-lg-16">
                                    <div class='input-group  input-group-lg date' data-bind="dateTime: time_string, disable: $root.mode().isReadOnly()">
                                        <input type='text' class="form-control" data-bind="disable: $root.mode().isReadOnly()"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                    </div>
                                 </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- end TimeType panel -->
    </div>

</template>