{% extends "base.html" %}
{% load site_tags %}
{% load staticfiles %}
{% block head-title %}{{ main_title }}{% endblock %}

{% block body-content %}
    {% include 'config-task-dropdown.html' %}
    <style type="text/css">
        .btn-content {
            vertical-align: middle;
        }

        .btn-content.pull-left {
            padding-left: 6px;
        }

        .btn-content.pull-right {
            padding-right: 6px;
        }
    </style>
    <div class="container">

        <div class="row">
            <div class="col-sm-7">
                <h3 class="obj-title">
                    <img src="/static/img/hex/hex_.png">
                    <div>CERT-UK Modifications</div>
                    <small>Configuration</small>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7">

                <!-- Generic settings pages could have multiple panels, each containing multiple dropdowns/fields -->
                    {% include 'external_publisher_config.html' %}
                    {% include 'retention_config.html' %}
                    {% include 'fts_rebuild_config.html' %}
                    {% include 'dedup_config.html' %}
                    {% include 'crm_config.html' %}
                    {% include 'handling_config.html' %}

            </div>

            <div class="col-sm-5">
                <!-- Could place a panel here, showing a summary of the selected settings -->
            </div>
        </div>

    </div>

    <script src="{% static 'js/knockout-3.1.0.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static "js/stickytape.js" %}"></script>
    <script>
        var require = {
            baseUrl: "/adapter/certuk_mod{% static 'js' %}",
            paths: {
                knockout: "common/knockout-shim"
            },
            urlArgs: "{% spaceless %}{% include 'version.html' %}{% endspaceless %}"
        };
    </script>
    <script src="/adapter/certuk_mod{% static 'js/require.js' %}" data-main="config/config-main"></script>
{% endblock %}
