{% extends "base.html" %}
{% load site_tags %}
{% load staticfiles %}
{% block head-title %}{{ main_title }}{% endblock %}

{% block body-content %}
    <div class="container">

        <div class="obj-title">
            <div class="col-sm-7">
                <div class="row">
                    <img src="/static/img/hex/hex_.png">
                    <h3>CERT-UK Modifications</h3>
                    <small>Configuration</small>
                </div>
            </div>
        </div>

        <div class="row builder">
            <div class="col-sm-7">

                <!-- Generic settings pages could have multiple panels, each containing multiple dropdowns/fields -->
                <div class="panel panel-default" data-bind="with: publisher">
                    <div class="panel-heading">
                        <h3 class="panel-title">External Publisher</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-3">
                                <h4>Site: </h4>
                            </div>

                            <div class="col-sm-5">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        <!-- Candidate for template/component. The "generic" configuration pages could
                                         use this, icons indicate which is the saved option. -->
                                        <span class="glyphicon"
                                              data-bind="css: {
                                              'glyphicon-remove': !selectedSite(),
                                              'glyphicon-cloud-upload': selectedSite() && !(selectedSite().is_publish_site()),
                                              'glyphicon-ok': selectedSite() && selectedSite().is_publish_site()}"></span>
                                        <span data-bind="text: selectedSite() ? selectedSite().name : 'None'"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" data-bind="click: function() { selectedSite(null); }">
                                            <span class="glyphicon glyphicon-remove"></span>
                                            None
                                        </a></li>
                                        <!-- ko foreach: sites -->
                                        <li>
                                            <a href="#" data-bind="click: $parent.selectedSite">
                                                <span class="glyphicon"
                                                      data-bind="css: {
                                                      'glyphicon-cloud-upload': $data && !($data.is_publish_site()),
                                                      'glyphicon-ok': $data && $data.is_publish_site() }"></span>
                                                <span data-bind="text: $data.name"></span>
                                            </a>
                                        </li>
                                        <!-- /ko -->
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <button class="btn btn-default pull-right"
                                        data-bind="click: onSavePublishSite,
                                                   css: {
                                                   disabled: (!selectedSite() && !publishId()) ||
                                                   (selectedSite() && selectedSite().is_publish_site()) },
                                                   text: gotSites() ? 'Save' : 'Retrieving sites...'">
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="panel panel-default" data-bind="with: retention">
                    <div class="panel-heading">
                        <h3 class="panel-title">Retention Policy</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-3">
                                <h4>Maximum age (months): </h4>
                            </div>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" data-bind="value: age, valueUpdate: ['input','keyup']">
                            </div>

                            <div class="col-sm-4"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <h4>Minimum sightings: </h4>
                            </div>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" data-bind="value: sightings, valueUpdate: ['input','keyup']">
                            </div>

                            <div class="col-sm-4">
                                <button class="btn btn-default pull-right"
                                        data-bind="click: onSave,
                                                   css: { disabled: (!canSave()) },
                                                   text: gotConfig() ? 'Save' : 'Retrieving config...'">
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-sm-5">
                <!-- Could place a panel here, showing a summary of the selected settings -->
            </div>
        </div>

    </div>

    <script src="{% static 'js/knockout-3.1.0.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static "js/stickytape.js" %}"></script>
    <script>
        var require = {
            baseUrl: "/adapter/certuk_mod{% static 'js' %}",
            paths: {
                knockout: "common/knockout-shim"
            },
            urlArgs: "{% spaceless %}{% include 'version.html' %}{% endspaceless %}"
        };
    </script>
    <script src="/adapter/certuk_mod{% static 'js/require.js'%}" data-main="config/config-main"></script>
{% endblock %}
