<div class="panel panel-default" data-bind="with: crm">
    <div class="panel-heading">
        <h3 class="panel-title">CRM </h3>
    </div>
    <div class="panel-body">

        {% include "config-enabled-dropdown.html" %}

        <div class="row">
            <div class="col-sm-3">
                <h5>Url: </h5>
            </div>

            <div class="col-sm-5">
                <input class="form-control" data-bind="value: CRMURL, valueUpdate: 'afterkeydown', enable: enabled">
            </div>

            <div class="col-sm-4">
                <button class="btn btn-default pull-right"
                        data-bind="click: save, css: { disabled: !(changesPending()) },
                                                text: gotConfig() ? 'Save' : 'Retrieving config...'">
                </button>
            </div>
        </div>
    </div>

</div>
