{% extends "base.html" %}
{% load site_tags %}
{% load staticfiles %}
{% block head-title %}{{ main_title }}{% endblock %}

{% block head-content %}
    <link rel="stylesheet" href="/adapter/certuk_mod{% static "css/jquery.gridster.min.css" %}" media="screen">
    <link rel="stylesheet" href="/adapter/certuk_mod{% static "css/dashboard.css" %}" media="screen">
{% endblock %}

{% block body-content %}
    <div data-bind="template: { name: 'dashboard_tabs', data: $root}"></div>
    <div data-bind="template: { name: 'dashboard_add_widget_modal', data: $root}"></div>
{% endblock %}

{% block body-end %}
    {% include 'dashboard_tabs.html' %}
    {% include 'dashboard_add_widget_modal.html' %}
    <script src="{% static 'js/knockout-3.1.0.js' %}"></script>
    <script>
        var require = {
            baseUrl: "/adapter/certuk_mod{% static 'js' %}",
            paths: {
                d3: "{% static "js/d3.min" %}",
                gridster: "jquery.gridster.min",
                jquery: "common/jquery-shim",
                knockout: "common/knockout-shim"
            },
            urlArgs: "{% spaceless %}{% include 'version.html' %}{% endspaceless %}"
        };
    </script>
    <script src="/adapter/certuk_mod{% static 'js/require.js' %}" data-main="dashboard/main"></script>
{% endblock %}
