<div class="panel panel-default" data-bind="with: publisher">
    <div class="panel-heading">
        <h3 class="panel-title">External Publisher</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-sm-3">
                <h5>Site: </h5>
            </div>

            <div class="col-sm-5">
                <div class="dropdown">
                    <button class="btn btn-default btn-block dropdown-toggle" type="button"
                            data-toggle="dropdown">
                        <!-- Candidate for template/component. The "generic" configuration pages could
                         use this, icons indicate which is the saved option. -->
                                        <span class="btn-content pull-left glyphicon"
                                              data-bind="css: {
                                              'glyphicon-remove': !selectedSite(),
                                              'glyphicon-cloud-upload': selectedSite() && !(selectedSite().is_publish_site()),
                                              'glyphicon-ok': selectedSite() && selectedSite().is_publish_site()}"></span>
                                        <span class="btn-content pull-left"
                                              data-bind="text: selectedSite() ? selectedSite().name : 'None'"></span>
                        <span class="btn-content pull-right glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-bind="click: function() { selectedSite(null); }">
                            <span class="glyphicon glyphicon-remove"></span>
                            None
                        </a></li>
                        <!-- ko foreach: sites -->
                        <li>
                            <a href="#" data-bind="click: $parent.selectedSite">
                                                <span class="glyphicon"
                                                      data-bind="css: {
                                                      'glyphicon-cloud-upload': $data && !($data.is_publish_site()),
                                                      'glyphicon-ok': $data && $data.is_publish_site() }"></span>
                                <span data-bind="text: $data.name"></span>
                            </a>
                        </li>
                        <!-- /ko -->
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <button class="btn btn-default pull-right"
                        data-bind="click: onSavePublishSite,
                                                   css: {
                                                   disabled: (!selectedSite() && !publishId()) ||
                                                   (selectedSite() && selectedSite().is_publish_site()) },
                                                   text: gotSites() ? 'Save' : 'Retrieving sites...'">
                </button>
            </div>
        </div>
    </div>

</div>
