{% extends "base.html" %}
{% load site_tags %}
{% load staticfiles %}
{% block head-title %}{{ main_title }}{% endblock %}
{% block head-content %}
    <link rel="stylesheet" href="/adapter/certuk_mod{% static "css/flexbox.css" %}" media="screen">
    <link rel="stylesheet" href="/adapter/certuk_mod{% static "css/visualiser.css" %}" media="screen">
{% endblock %}

{% block body-content %}
    <input type="hidden" id="refreshed" value="no">
    <ul class="nav nav-tabs">
        <!--ko foreach: indicatorInformation -->
            <!-- ko if: $index()==0 -->
                <li class="active"><a data-toggle="tab" data-bind="attr: { id: str_ids, href: '#' +safe_type_names}">
                    <span data-bind="text: type_names"></span> </a></li>
            <!-- /ko -->
            <!-- ko ifnot: $index()==0 -->
            <li><a data-toggle="tab" data-bind="attr: {id: str_ids, href: '#' +safe_type_names}">
                    <span data-bind="text:type_names"></span></a></li>
            <!-- /ko -->
        <!-- /ko -->
    </ul>

    <div class="tab-content">
        <!-- ko foreach: indicatorInformation -->
            <!-- ko if: $index()==0 -->
                <div class="tab-pane fade in active" data-bind="attr: {id: safe_type_names}">
                    <a data-bind="attr: {href: '/indicator/build/' + str_ids}">Edit Indicator Draft:
                        <span data-bind="text: str_ids"></span></a>
                    <div id="extract-visualiser" class="flexbox hflex">
                        <!-- ko template: { name: 'Graph' , data: $parent.findByLabel($data.str_ids)} --><!-- /ko -->
                    </div>
                </div>
            <!--/ko-->
                <!-- ko ifnot:$index()==0 -->
                <div class="tab-pane fade" data-bind="attr: {id: safe_type_names}">
                    <a data-bind="attr: {href: '/indicator/build/' + str_ids}">Edit Indicator Draft:
                        <span data-bind="text: str_ids"></span></a>
                    <div id="extract-visualiser" class="flexbox hflex">
                        <!-- ko template: { name: 'Graph' , data: $parent.findByLabel($data.str_ids)} --><!-- /ko -->
                    </div>
                </div>
            <!--/ko-->
        <!-- /ko -->
    </div>
{% endblock %}

{% block body-end %}
    {% include "visualiser_graph.html" %}
    <script src="{% static 'js/knockout-3.1.0.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/stickytape.js' %}"></script>
    <script>
        var require = {
            baseUrl: "/adapter/certuk_mod{% static 'js' %}",
            paths: {
                d3: "{% static "js/d3" %}",
                jquery: "{% static "js/jquery-1.11.0.min" %}",
                knockout: "common/knockout-shim"
            },
            // See http://requirejs.org/docs/jquery.html#noconflictmap
            map: {
                '*': {'jquery': 'jquery-private'},
                'jquery-private': {'jquery': 'jquery'}

            },
            urlArgs: "{% spaceless %}{% include 'version.html' %}{% endspaceless %}"
        };
        var root_ids = Object.freeze({{ indicator_ids|safe }});
        var indicator_information = Object.freeze({{ indicator_information|safe }});
        var killChainPhases = Object.freeze({{ kill_chain_phases|safe }});
    </script>
    <script>
    window.onunload = function(){};
    var data = {
            'root_ids': window['root_ids'],
            'indicator_information': window['indicator_information']
        };
        var e = document.getElementById("refreshed");
        if(e.value=="no"){
            e.value="yes";
        } else {
            postJSON('/adapter/certuk_mod/ajax/extract_visualiser/check/', data, function(success){
                window['root_ids']= success.data['root_ids'];
                window['indicator_information']=success.data['indicator_information'];
            })
        }
    </script>
    <script src="/adapter/certuk_mod{% static 'js/require.js' %}" data-main="extract/visualise/main"></script>
{% endblock %}
