{% extends "base.html" %}
{% load site_tags %}
{% load staticfiles %}
{% block head-title %}{{ main_title }}{% endblock %}
{% block head-content %}
    <link rel="stylesheet" href="/adapter/certuk_mod{% static "css/visualiser.css" %}" media="screen">
{% endblock %}

{% block body-content %}
    {% include 'visualiser_graph.html' %}

    <script>
        var root_ids ={{ indicator_ids|safe }};
        var indicator_information ={{ indicator_information|safe }};
    </script>

    <ul class="nav nav-tabs">
        {% for stix_id, typename, typenamesafe in indicator_information %}
            {% if forloop.first %}
                <li class="active"><a data-toggle="tab" href="#{{ typenamesafe }}">{{ typename }}  </a></li>
            {% endif %}
            {% if not forloop.first %}
                <li><a data-toggle="tab" href="#{{ typenamesafe }}">{{ typename }}  </a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="tab-content">
    {% for stix_id, typename, typenamesafe in indicator_information %}
        {% if forloop.first %}
            <div id='{{ typenamesafe }}' class="tab-pane fade in active">
        {% endif %}
        {% if not forloop.first %}
            <div id='{{ typenamesafe }}' class="tab-pane fade">
        {% endif %}
        <a href="/indicator/build/{{ stix_id }}"> Edit Indicator Draft: {{ stix_id }} </a>
        <div class="container-fluid">
            <div class="row">
                <div data-bind="template: { name: 'Graph' , data: findByLabel('{{ stix_id }}')}"></div>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>

    <script src="{% static 'js/knockout-3.1.0.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/stickytape.js' %}"></script>
    <script>
        var require = {
            baseUrl: "/adapter/certuk_mod{% static 'js' %}",
            paths: {
                d3: "{% static "js/d3" %}",
                jquery: "{% static "js/jquery-1.11.0.min" %}",
                knockout: "common/knockout-shim"
            },
            // See http://requirejs.org/docs/jquery.html#noconflictmap
            map: {
                '*': {'jquery': 'jquery-private'},
                'jquery-private': {'jquery': 'jquery'}

            },
            urlArgs: "{% spaceless %}{% include 'version.html' %}{% endspaceless %}"
        };
    </script>
    <script src="/adapter/certuk_mod{% static 'js/require.js' %}" data-main="extract/visualise/main"></script>
{% endblock %}

{% block body-end %}
{% endblock %}
