{% extends "base.html" %}
{% load site_tags %}
{% load staticfiles %}
{% block head-title %}{{ main_title }}{% endblock %}
{% block head-content %}

    <link rel="stylesheet" href="{% static "css/visualiser.css" %}" media="screen">
{% endblock %}

{% block body-content %}
    {% include 'visualiser_graph.html' %}

    <script>
        var root_ids =
        {{ indicator_ids|safe }}

        var indicator_information =
        {{ indicator_information|safe }}
    </script>

    <ul class="nav nav-tabs">
        {% for stix_id, typename, typenamesafe in indicator_information %}
            <li><a data-toggle="tab" href="#{{ typenamesafe }}">{{ typename }}  </a> </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for stix_id, typename, typenamesafe in indicator_information %}

            <div id='{{ typenamesafe }}' class="tab-pane fade">
            <a href="/indicator/build/{{ stix_id }}"> Edit Indicator Draft: {{ stix_id }} </a>
                <div class="container-fluid">
                    <div class="row">
                        <div data-bind="template: { name: 'Graph' , data: findByLabel('{{ stix_id }}')}"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <script src="{% static 'js/knockout-3.1.0.js' %}"></script>
    <script>
        var require = {
            baseUrl: "/adapter/certuk_mod{% static 'js' %}",
            paths: {
                d3: "{% static "js/d3" %}",
                jquery: "{% static "js/jquery-1.11.0.min" %}",
                knockout: "common/knockout-shim"
            },
            urlArgs: "{% spaceless %}{% include 'version.html' %}{% endspaceless %}"
        };

    </script>

    <script src="/adapter/certuk_mod{% static 'js/require.js' %}" data-main="visualiser/multi-graph"></script>
{% endblock %}

{% block body-end %}
{% endblock %}
