{% extends "base.html" %}
{% load site_tags %}
{% load staticfiles %}
{% block head-title %}{{ main_title }}{% endblock %}
{% block head-content %}
    <link rel="stylesheet" href="/adapter/certuk_mod{% static "css/flexbox.css" %}" media="screen">
    <link rel="stylesheet" href="/adapter/certuk_mod{% static "css/visualiser.css" %}" media="screen">
{% endblock %}

{% block body-content %}
    <div class="tooltip" id="graph-node-tooltip" style={'opacity':0}></div>
    <ul class="nav nav-tabs">
        <!--ko foreach: viewModels -->
        <!-- ko if: $index()==0 -->
        <li class="active"><a data-toggle="tab" data-bind="attr: { id: $data.rootId, href: '#' + $parent.findSafeTypeByLabel($data.rootId())}">
            <span data-bind="text: $parent.findTypeByLabel($data.rootId())"></span> </a></li>
        <!-- /ko -->
        <!-- ko ifnot: $index()==0 -->
        <li><a data-toggle="tab" data-bind="attr: {id: $data.rootId, href: '#' + $parent.findSafeTypeByLabel($data.rootId())}">
            <span data-bind="text:$parent.findTypeByLabel($data.rootId())"></span></a></li>
        <!-- /ko -->
        <!-- /ko -->
    </ul>
    
    <div class="tab-content">
        <!-- ko foreach: viewModels -->
        <!-- ko if: $index()==0 -->
        <div class="tab-pane fade in active" data-bind="attr: {id: $parent.findSafeTypeByLabel($data.rootId())}">
            <a data-bind="attr: {href: '/indicator/build/' + $data.rootId()}">Edit Indicator Draft:
                <span data-bind="text: $data.rootId"></span></a>
            <div id="extract-visualiser" class="flexbox hflex">
                <!-- ko template: { name: 'Graph' , data: $parent.findByLabel($data.rootId())} --><!-- /ko -->
            </div>
        </div>
        <!--/ko-->
        <!-- ko ifnot:$index()==0 -->
        <div class="tab-pane fade" data-bind="attr: {id: $parent.findSafeTypeByLabel($data.rootId())}">
            <a data-bind="attr: {href: '/indicator/build/' + $data.rootId()}">Edit Indicator Draft:
                <span data-bind="text: $data.rootId"></span></a>
            <div id="extract-visualiser" class="flexbox hflex">
                <!-- ko template: { name: 'Graph' , data: $parent.findByLabel($data.rootId())} --><!-- /ko -->
            </div>
        </div>
        <!--/ko-->
        <!-- /ko -->
    </div>
{% endblock %}

{% block body-end %}
    {% include "visualiser_graph.html" %}
    <script src="{% static 'js/knockout-3.1.0.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/stickytape.js' %}"></script>
    <script>
        window.onunload = function(){};
        var require = {
            baseUrl: "/adapter/certuk_mod{% static 'js' %}",
            paths: {
                d3: "{% static "js/d3" %}",
                jquery: "{% static "js/jquery-1.11.0.min" %}",
                knockout: "common/knockout-shim"
            },
            // See http://requirejs.org/docs/jquery.html#noconflictmap
            map: {
                '*': {'jquery': 'jquery-private'},
                'jquery-private': {'jquery': 'jquery'}

            },
            urlArgs: "{% spaceless %}{% include 'version.html' %}{% endspaceless %}"
        };
        var root_ids = Object.freeze({{ indicator_ids|safe }});
        var indicator_information = Object.freeze({{ indicator_information|safe }});
        var killChainPhases = Object.freeze({{ kill_chain_phases|safe }});
    </script>
    <script src="/adapter/certuk_mod{% static 'js/require.js' %}" data-main="extract/visualise/main"></script>
{% endblock %}
