<div class="panel panel-default" data-bind="with: handling">
    <div class="panel-heading">
        <h3 class="panel-title">Handling Caveats Mapping</h3>
    </div>
    <div class="panel-body">

        {% include "config-enabled-dropdown.html" %}
        </br>
        <div data-bind="foreach: handling_caveats">
            <div class="row">
                <div class="col-sm-2">
                    <h5>Stix Value: </h5>
                </div>
                <div class="col-sm-3">
                    <input class="form-control" data-bind="value: $data.stix_value">
                </div>
                <div class="col-sm-2">
                    <h5>Display Value: </h5>
                </div>
                <div class="col-sm-3">
                    <input class="form-control" data-bind="value: $data.display_value">
                </div>
            </div>
        </div>
        <div class="row col-sm-3 pull-right">
            <button class="btn btn-default"
                    data-bind="click: addGroup">Add Mapping
            </button>
            <button class="btn btn-default"
                        data-bind="click: save, css: { disabled: !(changesPending()) },
                                                text: gotConfig() ? 'Save' : 'Retrieving config...'">
            </button>
        </div>
    </div>

</div>
