<style>
    .btn.btn-primary.option-btn:active, .btn.btn-primary.option-btn.active {
        background-color: #4b5f6a;
        color: #DFE0E0;
    }

    .btn.btn-primary.option-btn {
        display: table;
        background-color: #d2dadd;
        color: #4b5f6a;
        text-align: center;
        vertical-align: middle;
        padding-left: 0px;
        padding-right: 0px;
    }

    .option-block {
        display: inline-block;
        width: 150px;
        height: 75px;
        margin: 3px;
    }

    .option-span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 100%;
        width: 100%;
    }

    .option-container {
        max-width: 100%;
    }

</style>

<template id="listSelectsPanel">
    <div data-bind="if: $data == $parent.section().value()">
        <div class="panel-heading"><span data-bind="text: label"></span></div>
        <div class="panel-body">
            <div class="container option-container">
                <!-- ko foreach: choices -->
                <div class="btn-group-vertical option-block" data-toggle="buttons" data-bind="disable: $root.mode().isReadOnly()">
                    <label class="option-btn btn btn-primary option-block" style="white-space:normal">
                        <span class="option-span" data-bind="text:$data"></span>
                        <input type="checkbox"
                               data-bind="
                                   disable: $root.mode().isReadOnly(),
                                   id:$data,
                                   bsChecked: {id:$data, array:$parents[0].items},
                                   name:$data,
                                   value:$data"/>
                    </label>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</template>
