<template id="ListIdentsPanel">
    <div data-bind="if: $data == $parent.section().value()">
        <div class="panel-heading"><span data-bind="text: label"></span>
            <button class="btn btn-default btn-xs btn-add" data-bind="click: add, visible: $parent.mode().isEditable()">
                <span class="glyphicon glyphicon-plus-sign green"></span> Add
            </button>
        </div>
        <div class="panel-body">
            <table style="width: 100%">
                <tbody role="form" data-bind="foreach: items">
                <tr class="datarow">
                    <td>
                        <div class="form-horizontal">
                            <div data-bind="value: $data">
                                <!--ko if: $root.mode().isReadOnly() -->
                                <span data-bind='text: name()'></span>
                                <!--/ko -->
                                <!--ko ifnot: $root.mode().isReadOnly() -->
                                <a data-bind='text: name(), click: function() {$parent.showUi($parent, $data)}'></a>
                                <!--/ko -->
                            </div>
                        </div>
                    </td>
                    <td>
                        <!--ko ifnot: $root.mode().isReadOnly() -->
                        <span class="glyphicon glyphicon-remove" title="Remove this item"
                              data-bind="click: function() { $parent.remove($data) }, disable: $root.mode().isReadOnly()">
                        </span>
                        <!--/ko -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
