<style>

    .option-container {
        max-width: 100%;
    }

    .option-container button {
        height: 75px;
        margin: 2px;
        width: 156px;
    }

    .option-container button.btn-default {
        color: #989898;
    }

    .option-container button.btn-selected {
        background-color: #4b5f6a;
        color: #ffffff;
    }

</style>

<script type="text/html" id="listSelectsPanel">
    <div data-bind="if: $data == $parent.section().value()">
        <div class="panel-heading"><span data-bind="text: label"></span></div>
        <div class="panel-body">
            <div class="container option-container" data-bind="disable: $root.mode().isReadOnly()">
                <!-- ko foreach: choices -->
                <button class="btn" style="white-space: normal" data-bind="
                    text: $data,
                    click: $parent.toggle.bind($parent),
                    css: {
                        'btn-default': !($parent.isSelected($data)),
                        'btn-selected': $parent.isSelected($data)
                    }
                "></button>
                <!-- /ko -->
            </div>
        </div>
    </div>
</script>
