<template id="ListIdentsPanel">
    <div data-bind="if: $data == $parent.section().value()">
        <div class="panel-heading"><span data-bind="text: label"></span>
            <button class="btn btn-default btn-xs btn-add" data-bind="click: add, visible: $parent.mode().isEditable()">
                <span class="glyphicon glyphicon-plus-sign green"></span> Add
            </button>
        </div>
        <div class="panel-body">
            <div class="row" style="padding:0 2em;" data-bind="foreach:items">
                <div class="form-group">
                    <div class="input-group col-sm-12">
                        <input class="form-control" data-bind="value:name(), click: function() {$parent.showUi($parent, $data)}, disable: $root.mode().isReadOnly()">
                        <span class="input-group-btn" data-bind="ifnot: $root.mode().isReadOnly()">
                            <button type="button" class="btn btn-default" title="Remove this item"
                                  data-bind=" click: function() { $parent.remove($data) }">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
