{% extends "../../indicator/templates/observable-builder.html" %}

{% block extra-editable-observable-templates %}
    <div data-bind="template: { name: 'http-session-template', if: objectType()=='HTTP Session', data: observable() }"></div>
    <div data-bind="template: { name: 'network-connection-template', if: objectType()=='Network Connection', data: observable() }"></div>
{% endblock %}

{% block extra-editable-batch-observable-templates %}
    <div data-bind="template: { name: 'batch-file', if: objectType()=='File', data: observable() }"></div>
{% endblock %}

