{% include "../../indicator/templates/observable-objects.html" %}

<script type="text/html" id="http-session-readonly">
    <table class="table table-striped table-condensed buildtable">
        <thead><tr><th>Description</th><th>User Agent</th></tr></thead>
        <tbody><tr><td data-bind="text: description"></td><td data-bind="text: user_agent"></td></tr></tbody>
    </table>
</script>

<script type="text/html" id="network-connection-readonly">
    <table class="table table-striped table-condensed buildtable">
        <thead><tr><th>Field</th><th>Value</th></tr></thead>
        <tbody><tr><td>Description</td><td  data-bind="text: $data.description"></td></tr></tbody>
        <tbody><tr><td>Summary</td><td  data-bind="text: $data.summary"></td></tr></tbody>
    </table>
</script>
