{% include "../../indicator/templates/observable-objects-edit.html" %}

<script type="text/html" id="http-session-template">
    <div class="form-group">
    <label for="user_agent" class="col-lg-2 control-label">User Agent</label>
        <div class="col-lg-6">
            <input id="user_agent" class="form-control" data-bind="value: user_agent" style="width:350px">
            <span style="color: red;">* (Required)</span>
        </div>
    </div>

</script>

<script type="text/html" id="network-connection-template">
    <div class="form-group">
        <h4>Source Socket</h4>
        <div data-bind="template: { name: 'socket-template', data: source_socket_address() }"></div>
    </div>
    <div class="form-group">
        <h4>Destination Socket</h4>
        <div data-bind="template: { name: 'socket-template', data: destination_socket_address() }"></div>
    </div>
</script>


<script type="text/html" id="batch-file">
    <div class="form-group">
    <label for="naming_system" class="col-lg-2 control-label">Values</label>
        <div class="col-lg-6">
            <textarea data-bind="value: objectValues" class="form-control" style="width:350px" rows="6"></textarea>
        <p class="help-block"><span class="glyphicon glyphicon-info-sign"></span> Enter or paste one value per line.</p>
        </div>
    </div>
</script>
