{% extends "base.html" %}
{% load site_tags %}
{% load staticfiles %}
{% block head-title %}{{ main_title }}{% endblock %}
{% block head-content %}

<style type="text/css">
</style>

{% endblock %}

{% block body-content %}
<form action="#">
    <label for="search">Search</label>
    <input id="search" name="search" data-bind="value: search" maxlength="50" size="50"/>
</form>
<table data-bind="visible: hasResults()" class="table table-striped table-condensed">
<thead>
    <tr>
        <th class="text-center">Date</th>
        <th class="text-center">Type</th>
        <th class="text-center">Title</th>
        <th class="text-center">User Name</th>
        <th class="text-center">Organization</th>
        <th class="text-center">TLP</th>
        <th></th>
    </tr>
</thead>
<tbody data-bind="foreach: results">
    <tr class="datarow">
        <td data-bind="text: moment(date).calendar()"  class="text-center"></td>
        <td data-bind="text: obj_type_long" class="text-center"></td>
        <td class="text-left"><a data-bind="text: title, attr: {href: view_url}, css: {revoked: revoked}" title="View this Object"></a></td>
        <td data-bind="text: user" class="text-center"></td>
        <td data-bind="text: organization" class="text-center"></td>
        <td data-bind="text: tlp" class="text-center"></td>
    </tr>
</tbody>
</table>

{% endblock %}

{% block body-end %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static "js/stickytape.js" %}"></script>
<script src="{% static "js/require.js" %}" data-main="{% static "js/publisher.js" %}"></script>
{% endblock %}
