<script type="text/html" id="warning">
    <div class="col-sm-12">
        {# inline styles because someone used !important in soltra.css #}
        <div class="panel panel-danger" style="border: 1px solid #EBCCD1 !important;">
            <div class="panel-heading"
                 style="background-color:#F2DEDE !important;border-bottom:1px solid #EBCCD1 !important;color:#A94442 !important;">
                Warning
            </div>
            <div class="panel-body" style="background-color: #ffffff !important;">
                By clicking the <em>Publish Externally</em> button, you will be placing the information contained
                within this package into the public domain. Before doing so, please consider carefully whether this
                would expose sensitive data or damage our reputation.
            </div>
        </div>
    </div>
</script>
