{% extends "base.html" %}
{% load site_tags %}
{% load staticfiles %}
{% block head-title %}{{ main_title }}{% endblock %}
{% block head-content %}

    <style type="text/css">
    dl.dl-horizontal dd table {
        table-layout: fixed;
    }

    dl.dl-horizontal dd table th {
        width: 25%;
    }

    dl.dl-horizontal dd table th:nth-child(n+3) {
        width: auto;
    }

    dl.dl-horizontal dd table.cols-2 th:nth-child(n+2) {
        width: auto;
    }
    </style>

{% endblock %}

{% block body-content %}
    <div class="container">
        <div class="row" data-bind="template: 'header'"></div>
        <div class="row" data-bind="template: 'warning'"></div>
        <div class="row" data-bind="template: { name: 'root-' + typeCode() }"></div>
    </div>
{% endblock %}

{% block body-end %}
    <script type="text/html" id="header">
        <div class="col-sm-12">
            <h3 class="obj-title">
                <button type="button" class="btn btn-danger pull-right"
                        data-bind="click: onPublish">Publish<br>Externally</button>
                <img alt="" data-bind="attr: {
                    src: '{% static '' %}img/hex/hex_'+typeCode()+'.png'
                }">
                <span data-bind="text: typeText"></span><br>
                <small data-bind="text: rootId"></small>
            </h3>
        </div>
    </script>

    <script type="text/html" id="warning">
        <div class="col-sm-12">
            {# inline styles because someone used !important in soltra.css #}
            <div class="panel panel-danger" style="border: 1px solid #EBCCD1 !important;">
                <div class="panel-heading" style="background-color:#F2DEDE !important;border-bottom:1px solid #EBCCD1 !important;color:#A94442 !important;">
                    Warning
                </div>
                <div class="panel-body" style="background-color: #ffffff !important;">
                    By clicking the <em>Publish Externally</em> button, you will be placing the information contained
                    within this package into the public domain. Before doing so, please consider carefully whether this
                    would expose sensitive data or damage CERT-UK's reputation.
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="root-coa">
        <dl class="dl-horizontal">
            <!-- ko template: { name: "common-fields" } --><!-- /ko -->
        </dl>
        <p><em>Type specific fields not yet implemented</em></p>
    </script>

    <script type="text/html" id="root-ttp">
        <dl class="dl-horizontal">
            <!-- ko template: { name: "common-fields" } --><!-- /ko -->
        </dl>
        <p><em>Type specific fields not yet implemented</em></p>
    </script>

    <script type="text/html" id="root-inc">
        <dl class="dl-horizontal">
            <!-- ko template: { name: "common-fields" } --><!-- /ko -->

            <!-- ko template: {
                name: "optional-labelled-field", data: { label: "Status", value: status }
            } --><!-- /ko -->
            <!-- ko template: {
                name: "optional-labelled-field", data: { label: "Reporter", value: reporter }
            } --><!-- /ko -->
            <!-- ko template: {
                name: "optional-labelled-field", data: { label: "Confidence", value: confidence }
            } --><!-- /ko -->
            <!-- ko template: {
                name: "optional-labelled-field", data: { label: "Responders", value: responders }
            } --><!-- /ko -->
            <!-- ko template: {
                name: "optional-labelled-field", data: { label: "Intended Effects", value: intendedEffects }
            } --><!-- /ko -->
            <!-- ko template: {
                name: "optional-labelled-field", data: { label: "Discovery Methods", value: discoveryMethods }
            } --><!-- /ko -->
            <!-- ko template: {
                name: "optional-labelled-field", data: { label: "Impact Assessment", value: impactAssessment }
            } --><!-- /ko -->
            <!-- ko template: {
                name: "leveraged-ttps", data: { label: "Leveraged TTPs", value: leveragedTTPs }
            } --><!-- /ko -->
            <!-- ko template: {
                name: "related-incidents", data: { label: "Related Incidents", value: relatedIncidents }
            } --><!-- /ko -->
            <!-- ko template: {
                name: "related-indicators", data: { label: "Related Indicators", value: relatedIndicators }
            } --><!-- /ko -->
            <!-- ko template: {
                name: "related-observables", data: { label: "Related Observables", value: relatedObservables }
            } --><!-- /ko -->
        </dl>
    </script>

    <script type="text/html" id="root-ind">
        <dl class="dl-horizontal">
            <!-- ko template: { name: "common-fields" } --><!-- /ko -->
            <!-- ko template: {
                name: "optional-labelled-field", data: { label: "Producer", value: producer }
            } --><!-- /ko -->
            <!-- ko template: {
                name: "optional-labelled-field", data: { label: "Confidence", value: confidence }
            } --><!-- /ko -->
            <!-- ko template: {
                name: "optional-labelled-field", data: { label: "Type", value: indicatorTypes }
            } --><!-- /ko -->
            <!-- ko template: {
                name: "optional-labelled-field", data: { label: "Composition", value: observable().observable_composition.operator }
            } --><!-- /ko -->
            <!-- ko template: {
                name: "observables", data: { label: "Observables", value: observables }
            } --><!-- /ko -->
        </dl>
    </script>

    <script type="text/html" id="root-obs">
        <dl class="dl-horizontal">
            <!-- ko template: { name: "common-fields" } --><!-- /ko -->
        </dl>
        <p><em>Type specific fields not yet implemented</em></p>
    </script>

    <script type="text/html" id="common-fields">
        <!-- ko template: {
            name: "labelled-field", data: { label: "Title", value: title }
        } --><!-- /ko -->
        <!-- ko template: {
            name: "optional-labelled-field", data: { label: "Short Description", value: shortDescription }
        } --><!-- /ko -->
        <!-- ko template: {
            name: "optional-labelled-field", data: { label: "Description", value: description }
        } --><!-- /ko -->
        <!-- ko template: {
            name: "labelled-field", data: { label: "TLP", value: tlp }
        } --><!-- /ko -->
    </script>

    <script type="text/html" id="leveraged-ttps">
        <!-- ko if: value -->
        <dt data-bind="text: label"></dt>
        <dd>
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>TLP</th>
                        <th>Intended Effects</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: value">
                    <tr data-bind="attr: { title: id }">
                        <td data-bind="text: title"></td>
                        <td data-bind="text: tlp"></td>
                        <td data-bind="text: intendedEffects"></td>
                    </tr>
                </tbody>
            </table>
        </dd>
        <!-- /ko -->
    </script>

    <script type="text/html" id="related-incidents">
        <!-- ko if: value -->
        <dt data-bind="text: label"></dt>
        <dd>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>TLP</th>
                        <th>Intended Effects</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: value">
                    <tr data-bind="attr: { title: id }">
                        <td data-bind="text: title"></td>
                        <td data-bind="text: tlp"></td>
                        <td data-bind="text: intendedEffects"></td>
                    </tr>
                </tbody>
            </table>
        </dd>
        <!-- /ko -->
    </script>

    <script type="text/html" id="related-indicators">
        <!-- ko if: value -->
        <dt data-bind="text: label"></dt>
        <dd>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>TLP</th>
                        <th>Types</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: value">
                    <tr data-bind="attr: { title: id }">
                        <td data-bind="text: title"></td>
                        <td data-bind="text: tlp"></td>
                        <td data-bind="text: types"></td>
                    </tr>
                </tbody>
            </table>
        </dd>
        <!-- /ko -->
    </script>

    <script type="text/html" id="related-observables">
        <!-- ko if: value -->
        <dt data-bind="text: label"></dt>
        <dd>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Properties</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: value">
                    <tr data-bind="attr: { title: id }">
                        <td data-bind="text: title"></td>
                        <td data-bind="text: type"></td>
                        <td>
                            <em data-bind="if: properties().length === 0">None</em>
                            <!-- ko if: properties().length > 0 -->
                            <dl class="dl-horizontal" data-bind="foreach: properties">
                                <dt data-bind="text: label"></dt>
                                <dd data-bind="text: value"></dd>
                            </dl>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </dd>
        <!-- /ko -->
    </script>

    <script type="text/html" id="observables">
        <!-- ko if: value -->
        <dt data-bind="text: label"></dt>
        <dd>
            <table class="table table-condensed table-striped cols-2">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Properties</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: value">
                    <tr data-bind="attr: { title: id }">
                        <td data-bind="text: type"></td>
                        <td>
                            <em data-bind="if: properties().length === 0">None</em>
                            <!-- ko if: properties().length > 0 -->
                            <dl class="dl-horizontal" data-bind="foreach: properties">
                                <dt data-bind="text: label"></dt>
                                <dd data-bind="text: value"></dd>
                            </dl>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </dd>
        <!-- /ko -->
    </script>

    <script type="text/html" id="labelled-field">
        <dt data-bind="text: label"></dt>
        <dd data-bind="text: value"></dd>
    </script>

    <script type="text/html" id="optional-labelled-field">
        <!-- ko if: value -->
            <!-- ko template: { name: "labelled-field", data: $data } --><!-- /ko -->
        <!-- /ko -->
    </script>

    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static "js/stickytape.js" %}"></script>
    <script>
        var require = {
            baseUrl: "{% static 'js' %}",
            paths: {
                knockout: "knockout-3.1.0",
                "knockout-dragdrop": "knockout.dragdrop"
            },
            urlArgs: "{% spaceless %}{% include 'publisher-version.html' %}{% endspaceless %}"
        };
        var rootId = "{{ root_id }}";
        var stixPackage = {{ package.to_json|safe }};
    </script>
    <script src="{% static "js/require.js" %}" data-main="publisher/main"></script>
{% endblock %}
