<div class="col-sm-12">
    <h3>Activity</h3>

    <select></select>
    <a class="btn btn-xs btn-primary" data-toggle="modal">Record action</a>

    <table class="table">
        <thead>
        <tr>
            <th class="text-center">Entered by</th>
            <th class="text-center">On</th>
            <th class="text-center">Action</th>
            <th class="text-center">Note</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-left"></td>
            <td class="text-left">
                <pre></pre>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div><!-- row -->
