{% extends "base.html" %}
{% load site_tags %}
{% load staticfiles %}
{% block head-title %}{{ main_title }}{% endblock %}
{% block head-content %}

    <style type="text/css">
        ul.dragdrop {
            height: 240px;
            overflow-y: auto;
            -webkit-user-select: none;
            -moz-user-select: -moz-none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        ul.dragdrop li.draggable {
            cursor: not-allowed;
            filter: grayscale(100%);
            padding: 0.25em;
        }

        ul.dragdrop li.draggable.enabled {
            cursor: move;
            filter: none;
        }

        ul.dragdrop li div.edgeTypeIcon {
            background-repeat: no-repeat;
            height: 20px;
            margin-right: 0.25em;
            width: 23px;
        }

        ul.dragdrop li span {
            display: inline-block;
            height: 20px;
            line-height: 20px;
        }
    </style>

{% endblock %}

{% block body-content %}
    <div class="container">

        <div data-bind="visible: selectedIncident(), with: selectedIncident">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Summary</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <dl class="dl-horizontal">
                                        <dt>Title</dt>
                                        <dd data-bind="text: title"></dd>
                                        <dt>Short Description</dt>
                                        <dd data-bind="html: short_description_html"></dd>
                                        <dt>Description</dt>
                                        <dd data-bind="html: description_html"></dd>
                                    </dl>
                                </div>
                                <div class="col-sm-6">
                                    <dl class="dl-horizontal">
                                        <dt>Created</dt>
                                        <dd data-bind="text: moment(created_on).calendar()"></dd>
                                        <dt>by</dt>
                                        <dd data-bind="html: created_by_username"></dd>
                                        <dt>ETLP</dt>
                                        <dd data-bind="html: etlp"></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Related indicators, TTPs, COAs and incidents</h3>
                        </div>
                        <div class="panel-body">
                            <ul data-bind="foreach: $parent.availableEdges,
                                           dropZone: {
                                               accepts: 'selected.edges',
                                               drop: $parent.onUnselected.bind($parent)
                                           }"
                                class="list-unstyled dragdrop">
                                <li data-bind="attr: { title: id_ },
                                               css: { enabled: $root.isEnabled($data) },
                                               dragZone: { name: 'available.edges', dragStart: $root.isEnabled },
                                               template: 'item-body'"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Selected indicators, TTPs, COAs and incidents</h3>
                        </div>
                        <div class="panel-body">
                            <ul data-bind="foreach: $parent.selectedEdges,
                                           dropZone: {
                                               accepts: 'available.edges',
                                               drop: $parent.onSelected.bind($parent)
                                           }"
                                class="list-unstyled dragdrop">
                                <li data-bind="attr: { title: id_ },
                                               dragZone: { name: 'selected.edges' },
                                               template: 'item-body'"
                                    class="enabled"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body-end %}
    <script type="text/html" id="item-body">
        <div data-bind="attr: {
                            title: type
                        }, style: {
                            backgroundImage: 'url(\'{% static '' %}' + '/img/hex/hex_' + ty + '_20.png\')',
                            marginLeft: $root.getIndent($data)
                        }" class="pull-left edgeTypeIcon"></div>
<span data-bind="text: title"></span>
    </script>

    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static "js/stickytape.js" %}"></script>
    <script>
        var require = {
            baseUrl: "{% static 'js' %}",
            paths: {
                knockout: "knockout-3.1.0",
                "knockout-dragdrop": "knockout.dragdrop"
            },
            urlArgs: "{% spaceless %}{% include 'publisher-version.html' %}{% endspaceless %}"
        };
        var stix_id = "{{ stix_id }}";
    </script>
    <script src="{% static "js/require.js" %}" data-main="publisher/main"></script>
{% endblock %}
