{% extends "base.html" %}
{% load site_tags %}
{% load staticfiles %}
{% block head-title %}{{ main_title }}{% endblock %}
{% block head-content %}

    <style type="text/css">
    </style>

{% endblock %}

{% block body-content %}
    <div class="container">

        <div class="row" data-bind="template: 'header'"></div>

        <div class="row" data-bind="template: 'warning'"></div>

        <div class="row" data-bind="template: { name: 'root-' + typeCode(), data: root }"></div>

{% comment %}
        <div class="row">
            <h4>Tactics, Techniques, and Procedures</h4>
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>TTP</th>
                    <th>Behaviour</th>
                    <th>Intended Effect(s)</th>
                </tr>
                </thead>
                <tbody>
                <tr data-bind="foreach: ttps">
                    <td data-bind="text: title"></td>
                    <td>
                        <!-- ko foreach: behavior.malware_instances -->
                            <!-- ko foreach: types -->
                                <!-- ko text: value --><!-- /ko --><br>
                            <!-- /ko -->
                        <!-- /ko -->
                    </td>
                    <td>
                        <!-- ko foreach: intended_effects -->
                            <!-- ko text: value.value --><!-- /ko --><br>
                        <!-- /ko -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <h4>Courses of Action</h4>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Objective</th>
                        <th>Impact</th>
                        <th>Cost</th>
                        <th>Efficacy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-bind="foreach: coas">
                        <td data-bind="text: title"></td>
                        <td data-bind="text: objective.description"></td>
                        <td data-bind="text: impact.description"></td>
                        <td data-bind="text: cost.description"></td>
                        <td data-bind="text: efficacy.description"></td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endcomment %}
    </div>
{% endblock %}

{% block body-end %}
    <script type="text/html" id="header">
        <div class="col-sm-12">
            <h3 class="obj-title">
                <button type="button" class="btn btn-danger pull-right"
                        data-bind="click: onPublish">Publish<br>Externally</button>
                <img alt="" data-bind="attr: {
                    src: '{% static '' %}img/hex/hex_'+typeCode()+'.png'
                }">
                <span data-bind="text: typeText"></span><br>
                <small data-bind="text: rootId"></small>
            </h3>
        </div>
    </script>

    <script type="text/html" id="warning">
        <div class="col-sm-12">
            {# inline styles because someone used !important in soltra.css #}
            <div class="panel panel-danger" style="border: 1px solid #EBCCD1 !important;">
                <div class="panel-heading" style="background-color:#F2DEDE !important;border-bottom:1px solid #EBCCD1 !important;color:#A94442 !important;">
                    Warning
                </div>
                <div class="panel-body" style="background-color: #ffffff !important;">
                    <span>A warning about making this public</span>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="root-coa">

    </script>

    <script type="text/html" id="root-ttp">

    </script>

    <script type="text/html" id="root-inc">
        <dl class="dl-horizontal">
            <dt>Title</dt>
            <dd data-bind="text: title"></dd>
        </dl>
    </script>

    <script type="text/html" id="root-ind">

    </script>

    <script type="text/html" id="root-obs">

    </script>

        <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static "js/stickytape.js" %}"></script>
    <script>
        var require = {
            baseUrl: "{% static 'js' %}",
            paths: {
                knockout: "knockout-3.1.0",
                "knockout-dragdrop": "knockout.dragdrop"
            },
            urlArgs: "{% spaceless %}{% include 'publisher-version.html' %}{% endspaceless %}"
        };
        var rootId = "{{ root_id }}";
        var stixPackage = {{ package.to_json|safe }};
    </script>
    <script src="{% static "js/require.js" %}" data-main="publisher/main"></script>
{% endblock %}
