<div class="panel panel-default" data-bind="with: retention">
    <div class="panel-heading">
        <h3 class="panel-title">Retention</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-sm-3">
                <h5>Retention policy: </h5>
            </div>
            <div data-bind="template: { name: 'ConfigTask'}"></div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <h5>Maximum age (months): </h5>
            </div>

            <div class="col-sm-5">
                <input type="number" min="1" placeholder="Maximum age" class="form-control"
                       data-bind="enable: enabled, value: age, valueUpdate: ['input','keyup']">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <h5>Minimum sightings: </h5>
            </div>

            <div class="col-sm-5">
                <input type="number" min="2" placeholder="Minimum sightings" class="form-control"
                       data-bind="enable: enabled, value: sightings, valueUpdate: ['input','keyup']">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <h5>Minimum back links: </h5>
            </div>

            <div class="col-sm-5">
                <input type="number" min="1" placeholder="Minimum back links" class="form-control"
                       data-bind="enable: enabled, value: backLinks, valueUpdate: ['input','keyup']">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <h5>Build type: </h5>
            </div>
            <div data-bind="template: {name: 'ConfigBuildType', data: {model: $data, defaultBuildText: 'Only Local Namespace', alternateBuildText: 'Only External Namespaces', defaultBuildType: localNamespaceOnly}}"></div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <h5>Run purge daily at: </h5>
            </div>

            <div data-bind="template: {name:'RunConfig'}"></div>
        </div>

    </div>

</div>
