{% load staticfiles %}
<template id="VisualiserPanel">
    <dt data-bind="attr: {class: cssClass}"><span data-bind="text: title"></span></dt>
    <!-- ko if: realData['values'].length === 0 -->
    <span font-stlye="italic">(none)</span>

    <!-- /ko -->

    <!-- ko foreach: realData['values'] -->
    <dd data-bind=" attr: {title: id} ">
        <!-- ko if: $parent.model.panel_actions().show_check(type(), $parent.realData['rel_type']) -->
        <label class="checkbox-inline"><input type="checkbox" data-bind="checked: isChecked"></label>
        <!-- /ko -->
        <img data-bind="attr: { src: '{% static 'img/hex/hex_' %}' + type() + '_20.png'}">
        &nbsp;<span data-bind="text:title,
                    click:$parent.model.onNodeClicked.bind($parent.model)"></span>
    </dd>
    <!-- /ko -->

</template>

<template id="VisualiserPanelDrafts">
    <!-- ko template: {name: 'VisualiserPanel', data: $data} --><!-- /ko -->

    <!-- ko if: realData['values'].length > 0 -->
    <div class="btn-group" role="group">
        <!-- ko foreach: model.panel_actions().actions -->
        <button type="button" data-toggle="tooltip" class="btn btn-default" data-bind="attr: {title:action_name},
                        click:$parents[2].call_action.bind($parents[2], $data.action())">
            <!-- ko if: glyphicon_name -->
            <span data-bind="css: glyphicon_name"></span>
            <!-- /ko -->
            <!-- ko ifnot: glyphicon_name -->
            <!--ko text: action_name--><!--/ko-->
            <!-- /ko -->
        </button>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</template>
