{% extends "base.html" %}
{% load site_tags %}
{% load staticfiles %}
{% block head-title %}{{ main_title }}{% endblock %}

{% block head-content %}
    <link rel="stylesheet" href="/adapter/certuk_mod{% static "css/flexbox.css" %}" media="screen">
    <link rel="stylesheet" href="/adapter/certuk_mod{% static "css/visualiser.css" %}" media="screen">
{% endblock %}

{% block body-content %}
    <div id="visualiser" class="flexbox hflex">
        <!-- ko template: { name: 'Graph', data: {model:$root, id:'0'}} --><!-- /ko -->
    </div>
{% endblock %}

{% block body-end %}
    {% include 'visualiser_graph.html' %}
    <script src="{% static 'js/knockout-3.1.0.js' %}"></script>
    <script src="{% static 'js/stickytape.js' %}"></script>
    <script>
        var require = {
            baseUrl: "/adapter/certuk_mod{% static 'js' %}",
            paths: {
                d3: "{% static "js/d3.min" %}",
                jquery: "{% static "js/jquery-1.11.0.min" %}",
                knockout: "common/knockout-shim"
            },
            // See http://requirejs.org/docs/jquery.html#noconflictmap
            map: {
                "*": {"jquery": "jquery-private"},
                "jquery-private": {"jquery": "jquery"}

            },
            urlArgs: "{% spaceless %}{% include 'version.html' %}{% endspaceless %}"
        };
        var rootId = "{{ id }}";
        var killChainPhases = Object.freeze({{ kill_chain_phases|safe }});
    </script>
    <script src="/adapter/certuk_mod{% static 'js/require.js' %}" data-main="visualiser/main"></script>
{% endblock %}
