{% load staticfiles %}

<template id="Graph">
    <div id="graph-container" class="flex-main">
        <button type="button" class="btn btn-default btn-lg pull-right" style="position:absolute;top:5px;left:20px;"
                data-bind="click: saveAsPNG">
            <span class="glyphicon glyphicon-download"></span>
        </button>

        <svg id="visualiser-graph" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             preserveAspectRatio="xMidYMid meet"
             style="display:none;"
             data-bind="
                forceGraph: graph,
                charge:-2000,
                distance:64,
                friction:0.65,
                gravity:0.5,
                linkDistance:64,
                linkStrength:0.25,
                visible: true
            ">

            <!-- ko foreach: links -->
            <line class="ko-d3-graph-link" data-bind="
                        attr: { class: className }
                    "></line>
            <!-- /ko -->

            <!-- ko foreach: nodes -->
            <g class="ko-d3-graph-node" data-bind="
                        attr: { title: title },
                        click: $parents[1].onNodeClicked.bind($parents[1])
                    ">

                <image xlink:href="{% static 'img/hex/hex_.png' %}" class="" data-bind="
                            attr: {
                                id: id(),
                                class: className,
                                'xlink:href': '{% static 'img/hex/' %}hex_' + type() + '.png',
                                height: imageHeight(),
                                width: imageWidth(),
                                x: imageX(),
                                y: imageY()
                            }
                        "></image>
            </g>
            <!-- /ko -->
        </svg>
    </div>
    {# TODO: extract detail panel to separate template #}
    <div id="visualiser-detail" class="flex-after flexbox vflex panel-default">
        <div class="flex-before panel-heading">
            <h3 class="panel-title">Details</h3>
        </div>
        <div class="flex-main panel-body">
            <!-- ko if: selectedTemplate() -->
            <div class="row" data-bind="template: { name: selectedTemplate(), data: selectedRoot }"></div>
            <!-- ko with: graph -->
            <dl data-bind="visible:true" class="linkedNodes" style="display:none">
                <!-- ko with: selectedLinkedNodes -->

                <!-- ko if: parentOf.length > 0 -->
                <dt>References</dt>
                <!-- ko foreach: parentOf -->
                <dd data-bind=" attr: {title: id} ">
                    <!-- ko if: $parents[2].panel_actions().show_reference_check(type()) -->
                    <label class="checkbox-inline"><input type="checkbox" data-bind="checked: isChecked"></label>
                    <!-- /ko -->
                    <img data-bind="attr: { src: '{% static 'img/hex/hex_' %}' + type() + '_20.png'}">
                    &nbsp;<span data-bind="text:title,
                    click:$parents[2].onNodeClicked.bind($parents[2])"></span>
                </dd>
                <!-- /ko -->
                <!-- /ko -->

                <!-- ko if: matches.length > 0 -->
                <dt>Matching Objects</dt>
                <!-- ko foreach: matches -->
                <dd data-bind=" attr: {title: id} ">
                    <img data-bind="attr: { src: '{% static 'img/hex/hex_' %}' + type() + '_20.png'}">
                    &nbsp;<span data-bind="text:title,
                    click:$parents[2].onNodeClicked.bind($parents[2])"></span>
                </dd>

                <!-- /ko -->
                <!-- /ko -->

                <!-- ko if: backlinks.length > 0 -->
                <dt>Backlinks</dt>
                <!-- ko foreach: backlinks -->
                <dd data-bind=" attr: {title: id} ">
                    <img data-bind="attr: { src: '{% static 'img/hex/hex_' %}' + type() + '_20.png'}">
                    &nbsp;<span data-bind="text:title,
                    click:$parents[2].onNodeClicked.bind($parents[2])"></span>
                </dd>
                <!-- /ko -->
                <!-- /ko -->

                <br>
                <div class="btn-group" role="group">
                    <!-- ko foreach: $parents[1].panel_actions().actions -->
                    <button type="button" data-toggle="tooltip" class="btn btn-default" data-bind="attr: {title:action_name},
                        click:$parents[1].call_action.bind($parents[1], $data.action())">
                        <!-- ko if: glyphicon_name -->
                        <span data-bind="css: glyphicon_name"></span>
                        <!-- /ko -->
                        <!-- ko ifnot: glyphicon_name -->
                        <!--ko text: action_name--><!--/ko-->
                        <!-- /ko -->
                    </button>
                    <!-- /ko -->
                </div>


                <!-- ko if: childOf.length > 0 -->
                <dt>Referenced By</dt>
                <!-- ko foreach: childOf -->
                <dd data-bind="
                    attr: {
                        title: id
                    },
                    click:$parents[2].onNodeClicked.bind($parents[2])
                ">
                    <img data-bind="attr: { src: '{% static 'img/hex/hex_' %}' + type() + '_20.png'
                                        }">&nbsp;<span data-bind="text:title"></span>
                </dd>

                <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
            </dl>
            <!-- /ko -->
            <!-- /ko -->
            <p data-bind="ifnot: selectedTemplate">Nothing selected</p>
        </div>
    </div>

</template>
