{% load staticfiles %}
{% include 'visualiser_panel.html' %}
<template id="Graph">
    <div id="graph-container" class="flex-main">
        <button type="button" class="btn btn-default btn-lg pull-right" style="position:absolute;top:5px;left:20px;"
                data-bind="click: saveAsPNG">
            <span class="glyphicon glyphicon-download"></span>
        </button>
        <div class="tooltip" id="graph-node-tooltip" style={'opacity':0}></div>
        <svg id="visualiser-graph" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             preserveAspectRatio="xMidYMid meet"
             style="display:none;"
             data-bind="
                forceGraph: graph,
                charge:-2000,
                distance:64,
                friction:0.65,
                gravity:0.5,
                linkDistance:64,
                linkStrength:0.25,
                visible: true
            ">
            <defs>
                <filter id="Unselected" filterUnits="objectBoundingBox"
                        x="0%" y="0%" width="100%" height="100%">
                    <feColorMatrix type="saturate" in="SourceGraphic" values="0.2"/>
                </filter>

                <filter id="Related" filterUnits="objectBoundingBox"
                        x="0%" y="0%" width="100%" height="100%">
                    <feColorMatrix type="saturate" in="SourceGraphic" values="0.7"/>
                </filter>

                <filter id="Selected" filterUnits="objectBoundingBox"
                        x="0%" y="0%" width="100%" height="100%">
                    <feColorMatrix type="saturate" in="SourceGraphic" values="1.4"/>
                </filter>
            </defs>
            <!-- ko foreach: links -->
            <line class="ko-d3-graph-link" data-bind="
                        attr: { class: className }
                    "></line>
            <!-- /ko -->

            <!-- ko foreach: nodes -->
            <g class="ko-d3-graph-node" data-bind="
                        attr: { title: title }
                    ">

                <!-- ko if: hasEdges -->
                <circle data-bind="attr: {cx: 5*imageWidth()/16 , cy: -(3*imageHeight()/8), r: (0.58*imageHeight()/6)}"
                        class="edge" stroke-width="0"/>
                <!-- /ko -->
                <!-- ko if: hasBacklinks -->
                <circle data-bind="attr: {cx: 3*imageWidth()/8, cy: -(imageHeight()/4), r: (0.58*imageHeight()/6)}"
                        class="backlink" stroke-width="0"/>
                <!-- /ko -->
                <!-- ko if: hasMatches -->
                <circle data-bind="attr: {cx: 7*imageWidth()/16 , cy: - (imageHeight()/8), r: (0.58*imageHeight()/6)}"
                        class="match" stroke-width="0"/>
                <!-- /ko -->

                <image xlink:href="{% static 'img/hex/hex_.png' %}" class=""
                       data-bind="
                            attr: {
                                id: id(),
                                class: className,
                                'xlink:href': '{% static 'img/hex/' %}hex_' + type() + '.png',
                                height: imageHeight(),
                                width: imageWidth(),
                                x: imageX(),
                                y: imageY()
                            }
                        "></image>
            </g>
            <!-- /ko -->
        </svg>
    </div>

    <div id="visualiser-detail" class="flex-after flexbox vflex panel-default">
        <div class="flex-before panel-heading">
            <h3 class="panel-title">Details</h3>
        </div>
        <div class="flex-main panel-body">
            <!-- ko if: selectedTemplate() -->
            <div class="row" data-bind="template: { name: selectedTemplate(), data: selectedRoot }"></div>
            <!-- ko with: graph -->
            <dl data-bind="visible:true" class="linkedNodes" style="display:none">
                <!-- ko with: selectedLinkedNodes -->

                <div data-bind="template: {name: 'VisualiserPanel', data: {realData: parentOf, title: 'References', cssClass:'edge'}}"></div>
                <div data-bind="template: {name: 'VisualiserPanel', data: {realData: externalRefs, title: 'External References', cssClass:'external_ref'}}"></div>
                <div data-bind="template: {name: 'VisualiserPanel', data: {realData: backlinks, title: 'Backlinks', cssClass: 'backlink'}}"></div>
                <div data-bind="template: {name: 'VisualiserPanel', data: {realData: matches, title: 'Matching Objects', cssClass: 'match'}}"></div>
                <div data-bind="template: {name: 'VisualiserPanelDrafts', data: {realData: drafts, title: 'Drafts', cssClass:'draft'}}"></div>
                <div data-bind="template: {name: 'VisualiserPanel', data: {realData: childOf, title: 'Referenced By', cssClass: 'edge'}}"></div>

                <!-- /ko -->
            </dl>
            <!-- /ko -->
            <!-- /ko -->
            <p data-bind="ifnot: selectedTemplate">Nothing selected</p>
        </div>
    </div>

</template>
