{% extends "base.html" %}
{% load site_tags %}
{% load staticfiles %}
{% block head-title %}{{ main_title }}{% endblock %}

{% block head-content %}
    <style type="text/css">

        .container-fluid .full-height {
            height: calc(100vh - 120px);
        }

        #graph-container {
            padding-right: 0;
        }

        svg {
            border: 1px solid grey;
            box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 4px;
        }

        g.ko-d3-graph-node {
            cursor: pointer;
        }

        g.ko-d3-graph-node image.selected {
            filter: drop-shadow(0 0 8px black) contrast(150%);
        }

        g.ko-d3-graph-node image.related {
            filter: grayscale(33%);
        }

        g.ko-d3-graph-node image.unselected {
            filter: grayscale(100%);
        }

        line.ko-d3-graph-link {
            stroke: #333;
            stroke-width: 0.5;
        }

        dl.dl-horizontal dd {
            margin-left: 160px;
            padding-left: 20px;
            padding-right: 1px;
            margin-right: 20px;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }

        dl.linkedNodes dd {
            cursor: pointer;
        }

        dl.linkedNodes dd:hover span {
            text-decoration: underline;
        }
        .value-missing:after {
            content: "(missing)";
            font-style: italic;
        }

    </style>
{% endblock %}

{% block body-content %}
    <div class="container-fluid">
        <div class="row">
            <div id="graph-container" class="col-sm-8 full-height">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    preserveAspectRatio="xMidYMid meet"
                    style="display:none;"
                    data-bind="
                        forceGraph: graph,
                        charge:-2000,
                        distance:64,
                        friction:0.65,
                        gravity:0.5,
                        linkDistance:64,
                        linkStrength:0.25,
                        visible: true
                    ">
                    <g data-bind="
                        attr: {
                            title: title
                        },
                        click: $root.onNodeClicked.bind($root)
                    ">
                        <image xlink:href="{% static 'img/hex/hex_.png' %}" class="" data-bind="
                            attr: {
                                id: id(),
                                class: className(),
                                'xlink:href': '{% static 'img/hex/' %}hex_' + type() + '.png',
                                height: imageHeight(),
                                width: imageWidth(),
                                x: imageX(),
                                y: imageY()
                            }
                        "></image>
                    </g>
                </svg>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Details</h3>
                    </div>
                    <div class="panel-body">
                        <!-- ko if: selectedTemplate() -->
                        <div class="row" data-bind="template: { name: selectedTemplate(), data: selectedRoot }"></div>
                        <!-- ko with: graph -->
                        <dl data-bind="visible:true" class="linkedNodes" style="display:none">
                            <!-- ko with: selectedLinkedNodes -->
                                <!-- ko if: parentOf.length > 0 -->
                                    <dt>References</dt>
                                    <!-- ko foreach: parentOf -->
                                        <dd data-bind="
                                            attr: {
                                                title: id
                                            },
                                            click:$root.onNodeClicked.bind($root)
                                        ">
                                            <img data-bind="attr: {
                                                src: '{% static 'img/hex/hex_' %}' + type() + '_20.png'
                                            }">&nbsp;<span data-bind="text:title"></span>
                                        </dd>
                                    <!-- /ko -->
                                <!-- /ko -->
                                <!-- ko if: childOf.length > 0 -->
                                    <dt>Referenced By</dt>
                                    <!-- ko foreach: childOf -->
                                        <dd data-bind="
                                            attr: {
                                                title: id
                                            },
                                            click:$root.onNodeClicked.bind($root)
                                        ">
                                            <img data-bind="attr: {
                                                src: '{% static 'img/hex/hex_' %}' + type() + '_20.png'
                                            }">&nbsp;<span data-bind="text:title"></span>
                                        </dd>
                                    <!-- /ko -->
                                <!-- /ko -->
                            <!-- /ko -->
                        </dl>
                        <!-- /ko -->
                        <!-- /ko -->
                        <p data-bind="ifnot: selectedTemplate">Nothing selected</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body-end %}
    <script src="{% static 'js/knockout-3.1.0.js' %}"></script>
    <script>
        var require = {
            baseUrl: "/adapter/certuk_mod{% static 'js' %}",
            paths: {
                d3: "{% static "js/d3.min" %}",
                jquery: "{% static "js/jquery-1.11.0.min" %}",
                knockout: "common/knockout-shim"
            },
            urlArgs: "{% spaceless %}{% include 'version.html' %}{% endspaceless %}"
        };
        var rootId = "{{ id }}";
        var killChainPhases = Object.freeze({{ kill_chain_phases|safe }});
    </script>
    <script src="/adapter/certuk_mod{% static 'js/require.js' %}" data-main="visualiser/main"></script>
{% endblock %}
