{% load staticfiles %}

<template id="Graph">
    <div id="graph-container" class="col-sm-8 full-height">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             preserveAspectRatio="xMidYMid meet"
             style="display:none;"
             data-bind="
                forceGraph: graph,
                charge:-2000,
                distance:64,
                friction:0.65,
                gravity:0.5,
                linkDistance:64,
                linkStrength:0.25,
                visible: true
            ">
            <g data-bind="
                attr: {
                    title: title
                },
                click:$parents[2].onNodeClicked.bind($parents[2])
            ">
                <image xlink:href="{% static 'img/hex/hex_.png' %}" class="" data-bind="
                    attr: {
                        id: id(),
                        class: className(),
                        'xlink:href': '{% static 'img/hex/' %}hex_' + type() + '.png',
                        height: imageHeight(),
                        width: imageWidth(),
                        x: imageX(),
                        y: imageY()
                    }
                "></image>
            </g>
        </svg>
    </div>

</template>
