<div>
    <div data-bind="if: waitingForResponse">
        <div class="row">
            <img class="center-block" src="/static/img/soltra_flame_anim.gif"/>
        </div>
        <div class="row text-center">
            <span data-bind="text: message"></span>
        </div>
    </div>
    <div data-bind="ifnot: waitingForResponse">
        <!-- ko if: phase() == 'INPUT' -->
        <!-- ko if: validations.hasMessages -->
        <div data-bind="template: { name: 'validation-results', data: $data }"></div>
        <!-- /ko -->
        <!-- ko ifnot: validations.hasErrors -->
        <!-- ko if: validations.hasWarnings -->
        <div data-bind="text: messageWarning" class="bg-warning text-warning text-center"></div>
        <!-- /ko -->
        <textarea data-bind="value: publicationMessage, valueUpdate: ['input','keyup']"
                  placeholder="Reason for publication"
                  class="form-control"
                  rows="4"
                  style="resize:none"></textarea>
        <br>
        <!-- /ko -->
        <div class="col-sm-12">
            <div class="panel panel-danger" style="border: 1px solid #EBCCD1 !important;">
                <div class="panel-heading"
                     style="background-color:#F2DEDE !important;border-bottom:1px solid #EBCCD1 !important;color:#A94442 !important;">
                    Warning
                </div>
                <div class="panel-body" style="background-color: #ffffff !important;">
                    By clicking the <em>Publish Externally</em> button, you will be placing the information contained
                    within this package into the public domain. Before doing so, please consider carefully whether this
                    would expose sensitive data or damage CERT-UK's reputation.
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: phase() == 'RESPONSE' -->
        <div class="text-center" data-bind="text: message"></div>
        <!-- /ko -->
    </div>
</div>
