<style>

    .option-container {
        max-width: 100%;
    }

    .option-container button {
        height: 75px;
        margin: 2px;
        width: 156px;
    }

    .option-container button.btn-default {
        color: #989898;
    }

    .option-container button.btn-selected {
        background-color: #4b5f6a;
        color: #ffffff;
    }

</style>

<div>
    <div>
        <div class="container option-container">
            <!-- ko foreach: choices -->
            <button class="btn" style="white-space: normal" data-bind="
                    text: $data"></button>
            <!-- /ko -->
        </div>
    </div>
</div>
