<div>
    <select class="form-control" data-bind="
        value: selectedType,
        options: typesWithDuplicates,
        optionsValue: 'type',
        optionsText: 'label'
    "></select>
    <div data-bind="if: selectedType">
        <select class="form-control" data-bind="
            value: selectedOriginal,
            options: originalsForType
        "></select>

        <div data-bind="if: selectedOriginal">
            <ul data-bind="foreach: duplicatesForOriginal">
                <li data-bind="text: $data"></li>
            </ul>
        </div>
    </div>
    <pre data-bind="text: ko.toJSON($data, null, 2)"></pre>
</div>
